body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.missions {
  padding: 3rem 3rem;
}

.missions_table {
  border: 1px solid #ccc;
}

.missions_table thead {
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
  height: 30px;
}

.missions_table td,
.missions_table th {
  border-right: 1px solid #ccc;
  padding: 1rem;
}

.missions_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.missions_table tr:hover {
  background-color: #ddd;
}

.missions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.mission_name {
  display: flex;
  align-items: flex-start;
  width: 10%;
}

.mission_description {
  width: 60%;
  line-height: 1.2rem;
}

button {
  padding: 0.4rem 1rem;
}

.app-btn-primary {
  background-color: #46769e;
  color: white;
}

.app-btn-ghost {
  background-color: #fff;
  color: #46769e;
  border: 1px solid #46769e;
}

.app-btn-danger {
  background-color: #fff;
  color: #9e2f2f;
  border: 1px solid #9e2f2f;
}

.badge {
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  padding: 1px 5px;
  white-space: nowrap;
}

.badge--primary {
  background-color: #68c9ca;
}

.badge--secondary {
  background-color: #808080;
  color: #fff;
}
